<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<dir class="small_div">
	<dir class="container">
		<br>
	<h2>Book List</h2>
	<hr>
	<from action ="/update/{{books.id}}">
		{%  csrf_token %}
			<label class="form-group" for="Title">Title : </label>
			<input class="form-control" type="text" name="Title" value="{{books.Title}}" placeholder="{{books.Title}}">
		<br>
		<br>

			<label class="form-group" for="Price">Price : </label>
			<input class="form-control" type="text" name="Price" value="{{books.Price}}" placeholder="{{books.Price}}">

		<br>
		<br>

			<label class="form-group" for="Author">Author : </label>
			<input class="form-control" type="text" name="Author" value="{{books.Author}}" placeholder="{{books.Author}}">

		<br>
		<br>
		<br>
		<input class="btn btn-success" type="submit" value="update">

	</from>
</dir>
</dir>
</body>
</html>